@font-face {
    font-family: "Jost.ttf";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Jost.ttf") format("woff2");
    font-display: swap;
}

html,
body {
    font-family: "Jost.ttf";
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: #000000;
    text-decoration: none;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF8F6;
}

.main-header__logo {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 0;
    margin-left: 20px;
}

.main-nav__link--active {
    color: #F6623E;
}

.main-nav {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.main-nav__list {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-around;
}

.main-nav__item:nth-child(even) {
    margin: 0 50px;
}

.main-nav__link {
    text-transform: uppercase;
}

.nav-user {
    display: flex;
    padding: 0;
    margin-right: 20px;
    margin-left: 0;
    list-style: none;
    justify-content: space-between;
}

.nav-user__item {
    margin: 0 20px;
}

.link-search {
    position: absolute;
    top: 15px;
}

.link-search::before {
    content: url(../img/svg/search.svg);
    position: relative;
    width: 22px;
    height: 22px;
}

.link-cart {
    position: absolute;
    top: 14px;
}

.link-cart::before {
    content: url(../img/svg/cart.svg);
    position: relative;
    width: 22px;
    height: 22px;
}

.separator {
    background-color: #E0E0E0;
    height: 1px;
    width: auto;
}

.first-screen {
    display: flex;
    padding-top: 40px;
    justify-content: space-evenly;
    background: #FFF8F6;
}

.first-screen__offer {
    margin-top: 80px;
    width: 450px;
}

.separator-main-new__image {
    background: #FFF8F6;
    height: 240px;
    width: -webkit-fill-available;
    ;
}

.highlight {
    font-size: 20px;
    color: #F6623E;
    margin: 0;
    margin-bottom: 15px;
}

.title {
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
    margin: 0;
    width: auto;
    text-transform: uppercase;
}

.subtitle {
    margin: 15px 0;
}

.shop-button {
    font-size: 12px;
    background-color: #F6623E;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    width: 120px;
    border: none;
}

.buy {
    font-size: 12px;
    background-color: #F6623E;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    width: 120px;
    border: none;
    position: relative;
    top: 220px;
    left: 280px;
}

.multi-vitamin {
    padding-bottom: 40px;
}

.new-collection {
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
}

.heading {
    font-size: 30px;
    line-height: 40px;
    width: 415px;
    margin: 0;

}

.goods {
    position: absolute;
    border-radius: 10px;
    margin-top: 40px;
}

.new-collection__products {
    display: flex;
    margin-left: 30px;
    flex-flow: column;
}

.product-first {
    margin-bottom: 40px;
}

.products {
    border-radius: 10px;
}

.suggestion-screen {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.blogger-background {
    position: absolute;
    border-radius: 10px;
}

.blogger {
    margin-top: 75px;
    margin-left: 182px;
    border-radius: 10px;
    position: relative;
}

.suggestion-screen__description {
    margin-left: 80px;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.range-button {
    width: 225px;
    text-transform: uppercase;
    font-size: 13px;
    padding: 15px;
    background-color: white;
    border-color: #F6623E;
    font-weight: 700;
}

.suggestion-screen__subtitle {
    margin-bottom: 20px;
}

.hit-products__heading {
    font-size: 30px;
    line-height: 40px;
    width: 415px;
    margin: 0px;
    margin-left: 120px;
}

.hit-products__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hit-products__subtitle {
    width: 415px;
    line-height: 26px;
    margin-left: 120px;
}

.view-all {
    margin-right: auto;
    margin-left: auto;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #F6623E;
}

.hits {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.product-list {
    padding: 0;
    margin: 0;
}

.product-list__item {
    list-style: none;
    flex-flow: column;
    display: flex;
}

.product-card-link {
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 20px;
}

.full-range__vitamins {
    border-radius: 10px;
}

.product-price-name {
    display: flex;
}

.product-card-sale {
    margin-right: 20px;
    font-size: 15px;
    color: #F6623E;
}

.product-card-price {
    text-decoration: line-through;
    font-size: 15px;
    color: #828181;
}

.blue-package {
    margin-top: 30px;
}

.blue-package-link {
    margin-top: 55px;
}

.separator-hits-features__image {
    background: #FFF8F6;
    height: 246px;
    width: -webkit-fill-available;
}

.separator-hits-features {
    background: #FFF8F6;
}


.features {
    background: #FFF8F6;
}

.separator-features-services__image {
    background: #FFF8F6;
    height: 246px;
    width: -webkit-fill-available;
}

.features-points {
    display: flex;
    margin-top: 40px;
}

.features-point {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.features-description__title {
    padding-top: 50px;
    text-align: center;
}

.features-description__subtitle {
    width: 590px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.first-column,
.second-column {
    margin-left: 50px;
}

.features-advantages__multivitamin {
    margin-left: 40px;
    margin-right: 40px;
}

.third-column,
.fourth-column {
    margin-right: 50px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.shipping {
    position: relative;
}

.shipping::before {
    content: "";
    background-image: url(../img/svg/plain.svg), url(../img/Ellipse\ 2.png);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 30px;
    left: 105px;
}

.guarantee {
    position: relative;
}

.guarantee::before {
    content: "";
    background-image: url(../img/svg/money-bag.svg), url(../img/Ellipse\ 2.png);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 30px;
    left: 105px;
}

.secured-payments {
    position: relative;
}

.secured-payments::before {
    content: "";
    background-image: url(../img/svg/secure.svg), url(../img/Ellipse\ 2.png);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 30px;
    left: 125px;
}

.features__title {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}

.features__subtitle {
    margin: 0;
    width: auto;
    text-align: center;
    margin-left: 10px;
    color: #828181;
}

.services-features__list {
    display: flex;
    padding: 0;
    margin: 0 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.services-features__item {
    list-style: none;
    width: 300px;
}

.services-description {
    margin-left: 120px;
    margin-bottom: 100px;
}

.services-description__subtitle {
    width: 400px;
    font-size: 15px;
    line-height: 26px;
    margin-top: 5px;
}

.rating-results {
    width: 120px;
}

.rating-results span {
    padding: 0;
    font-size: 22px;
    line-height: 1;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}

.rating-results>span:before {
    content: '★';
}

.rating-results>span.active {
    color: gold;
    text-shadow: 1px 1px #c60;
}

.reviews {
    display: flex;
    justify-content: space-around;
    margin: 140px 35px;
    background: #FFF8F6;
    border-radius: 10px;
}

.reviews-results {
    margin-left: 25px;
    padding-bottom: 90px;
    padding-top: 90px;
}

.reviews-title {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
}

.review {
    width: 400px;
    font-size: 18px;
}

.review-author {
    color: #F6623E;
    font-size: 14px;
}

.reviews-images {
    display: flex;
    padding-bottom: 90px;
    flex-flow: row-reverse;
    padding-top: 90px;
}


.background-blogger-2 {
    position: absolute;
    margin-top: -55px;
    border-radius: 10px;
}

.blogger-2 {
    position: relative;
    margin-top: 35px;
    border-radius: 10px;
    margin-right: 65px;
}

.swipe-left:disabled {
    color: #828181;
    border-color: #828181;
    border-radius: 5px;
    height: 27px;
    background: #FFF8F6;
    font-size: 20px;
    width: 30px;
}

.swipe-button {
    color: #F6623E;
    border-color: #F6623E;
    border-radius: 5px;
    height: 27px;
    background: #FFF8F6;
    font-size: 20px;
    width: 30px;
}

.news__heading {
    font-size: 30px;
    line-height: 40px;
    width: 415px;
    margin: 0px;
    margin-left: 120px;
}


.news__subtitle {
    width: 455px;
    line-height: 26px;
    margin-left: 120px;
}


.news__header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.news-block {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.news-block-division {
    width: 300px;
}

.news-block__list {
    padding: 0;
}

.news-block__item {
    list-style: none;
}

.models-date {
    display: flex;
}

.date {
    writing-mode: vertical-lr;
    margin-top: 3px;
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 5px;
}

.news-block__title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}

.news-block__subtitle {
    color: #828181;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.news-block__highlight {
    color: #F6623E;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

.tag {
    margin-top: 80px;
    background: linear-gradient(to bottom, white 20%, #FFF8F6 80%);
}

.tag-gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tag-gallery-photo {
    border-radius: 10px;
}

.tag-gallery-photo__bottom {
    margin-top: 80px;
    border-radius: 10px;
}

.tag-shop {
    padding: 55px;
    margin: 0;
    color: rgba(255, 103, 66, 0.3);
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
}

.main-footer {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
}

.main-footer__description {
    width: 300px;
    margin-left: 20px;
}

.description-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
}

.description-subtitle {
    text-align: center;
    color: #454545;
    font-size: 16px;
}

.connection-title {
    text-align: center;
}

.connection-subtitle {
    text-align: center;
    width: 400px;
    margin-bottom: 50px;
    color: #454545;
    font-size: 16px;
}

.newsletter-form {
    display: flex;
    justify-content: space-between;
    border-bottom-style: ridge;
}

.email {
    border: none;
    font-size: 16px;
    outline: none;
}

.submit {
    border: none;
    background: white;
    text-transform: uppercase;
    color: #F6623E;
    font-weight: 700;
}

.main-footer__info-block {
    margin-right: 20px;
    width: 155px;
}


.info-block-title {
    text-transform: uppercase;
    font-size: 18px;
}

.info-block-list {
    padding: 0;
}

.info-block-item {
    list-style: none;
    color: #454545;
    font-size: 16px;
    margin-bottom: 5px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.company-info {
    font-size: 14px;
    text-align: center;
    margin-right: 40px;
}

.company-info__name {
    color: #F6623E;
    text-transform: uppercase;
    font-size: 14px;
}

.social-media-item {
    list-style: none;
}

.link-facebook {
    position: relative;
}

.link-facebook::before {
    content: "";
    background-image: url(../img/svg/facebook.svg);
    position: absolute;
    width: 8px;
    height: 14px;
}

.link-instagram {
    position: relative;
    left: 25px;
}

.link-instagram::before {
    content: "";
    background-image: url(../img/svg/instagram.svg);
    position: absolute;
    width: 14px;
    height: 14px;
}

.link-twitter {
    position: relative;
    left: 55px;
}

.link-twitter::before {
    content: "";
    background-image: url(../img/svg/twitter.svg);
    position: absolute;
    width: 18px;
    height: 14px;
}

.link-youtube {
    position: relative;
    left: 85px;
}

.link-youtube::before {
    content: "";
    background-image: url(../img/svg/youtube.svg);
    position: absolute;
    width: 20px;
    height: 14px;
}