@font-face {
    font-family: "Jost.ttf";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Jost.ttf") format("woff2");
    font-display: swap;
}

html, body {
    font-family: "Jost.ttf";
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: #000000;
    text-decoration: none;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF8F6;
}

.main-header__logo {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 0;
    margin-left: 20px;
}

.main-nav__link--active {
    color: #F6623E;
}

.main-nav {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.main-nav__list{
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-around;
}

.main-nav__item:nth-child(even){
    margin: 0 50px;
}

.main-nav__link {
    text-transform: uppercase;
}

.nav-user {
    display: flex;
    padding: 0;
    margin-right: 20px;
    margin-left: 0;
    list-style: none;
    justify-content: space-between;
}

.nav-user__item {
    margin: 0 20px;
}

.link-search {
    position: absolute;
    top: 15px;
}

.link-search::before {
    content: url(../img/search.svg);
    position: relative;
    width: 22px;
    height: 22px;
}

.link-cart{
    position: absolute;
    top: 14px;
}

.link-cart::before {
    content: url(../img/cart.svg);
    position: relative;
    width: 22px;
    height: 22px;
}

.separator-header-main {
    background-color: #E0E0E0;
    height: 1px;
    width: auto;
}

.first-screen {
    display: flex;
    padding-top: 40px;
    justify-content: space-evenly;
    background: #FFF8F6;
}

.first-screen__offer {
    margin-top: 80px;
    width: 450px;
}

.separator-main-new__image {
    background: #FFF8F6;
    height: 240px;
    width: -webkit-fill-available;;
}

.highlight{
    font-size: 20px;
    color:#F6623E;
    margin: 0;
    margin-bottom: 15px;
}

.title {
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
    margin: 0;
    width: auto;
    text-transform: uppercase;
}

.subtitle {
    margin: 15px 0;
}

.shop-button {
    font-size: 12px;
    background-color: #F6623E;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    width: 120px;
    border: none;
}

.buy {
    font-size: 12px;
    background-color: #F6623E;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    width: 120px;
    border: none;
    position: relative;
    top: 220px;
    left: 280px;
}

.multi-vitamin {
    padding-bottom: 40px;
}

.new-collection {
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
}

.heading {
    font-size: 30px;
    line-height: 40px;
    width: 415px;
    margin: 0;

}

.goods {
    position: absolute;
    border-radius: 10px;
    margin-top: 40px;
}

.new-collection__products {
    display: flex;
    margin-left: 30px;
    flex-flow: column;
}

.product-first {
    margin-bottom: 40px;
} 

.products {
    border-radius: 10px;
}

.suggestion-screen {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.blogger-background {
    position: absolute;
    border-radius: 10px;
}

.blogger {
    margin-top: 75px;
    margin-left: 182px;
    border-radius: 10px;
    position: relative;
}

.suggestion-screen__description {
    margin-left: 80px;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.range-button {
    width: 225px;
    text-transform: uppercase;
    font-size: 13px;
    padding: 15px;
    background-color: white;
    border-color: #F6623E;
    font-weight: 700;
}

.suggestion-screen__subtitle {
    margin-bottom: 20px;
}

.hit-products__heading {
    font-size: 30px;
    line-height: 40px;
    width: 415px;
    margin: 0px;
    margin-left: 120px;
}

.hit-products__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hit-products__subtitle {
    width: 415px;
    line-height: 26px;
    margin-left: 120px;
}

.all-products {
    margin-right: auto;
    margin-left: auto;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #F6623E;
}

.hits {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.product-list {
    padding: 0;
    margin: 0;
}

.product-list__item {
    list-style: none;
    flex-flow: column;
    display: flex;
}

.product-card-link {
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 20px;
}

.full-range__vitamins {
    border-radius: 10px;
}

.product-price-name {
    display: flex;
}

.product-card-sale {
    margin-right: 20px;
    font-size: 15px;
    color: #F6623E;
}

.product-card-price {
    text-decoration: line-through;
    font-size: 15px;
    color: #828181;
}

.blue-package {
    margin-top: 30px;
}

.blue-package-link {
    margin-top: 55px;
}

.separator-hits-features__image {
    background: #FFF8F6;
    height: 246px;
    width: -webkit-fill-available;
}

.separator-hits-features {
    background: #FFF8F6;
}


.features {
    background: #FFF8F6;
}

.separator-features-services__image {
    background: #FFF8F6;
    height: 246px;
    width: -webkit-fill-available;
}

.features-points {
    display: flex;
    margin-top: 40px;
}

.features-point {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.features-description__title {
    padding-top: 50px;
    text-align: center;
}

.features-description__subtitle {
    width: 590px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.first-column, .second-column {
    margin-left: 50px;
}

.features-advantages__multivitamin {
    margin-left: 40px;
    margin-right: 40px;
}

.third-column, .fourth-column {
    margin-right: 50px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }